#define WIFI_SSID  "wifi_ssid"
#define WIFI_PASSWORD "wifi_password"

#define DEBUG false
#define MAX_RETRIES 5
#define RETRIES_DELAY 1000

#define WEATHER_URL "https://api.openweathermap.org/data/2.5/onecall?units=metric&exclude=minutely,hourly&appid=API_KEY&lat=LAT&lon=LNG&lang=en"
// to display local temperature from an Oregon Scientific sensor, uncomment line below (a RF module 433Mhz is mandatory)
// #define RF_RX_PIN 5

#define CALENDAR_URL_EVENTS "url-to-events"
#define CALENDAR_LOGIN "login"
#define CALENDAR_PASSWORD "password"
#define MAX_EVENTS 4

#define LINKY_DAILY_CONSUMPTION_URL "url-to-linky-daily-consumption"
#define LINKY_MAX_POWER_URL "url-to-linky-maxpower"
#define LINKY_PRICE_URL "url-to-link-price"
#define LINK_LOGIN "login"
#define LINKY_PASSWORD "password"
#define LINKY_DAYS 9
#define LINKY_PRICE_THRESHOLD 1.5

